In [220]:
text = " I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

In [221]:
text

' I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

# Question 1

In [222]:
words = text.split()

In [223]:
number_of_words = len(words)

In [224]:
total_length=0
for word in words:
    total_length += len(word)
print(total_length)

265

In [225]:
Avg_length_of_string = total_length/number_of_words
print(Avg_length_of_string)

4.2063492063492065

# Question 2

In [262]:
print(text.lower())

 i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

# Question 3

In [228]:
import re

In [229]:
clean_text = re.sub('[.,]', '', text)

In [230]:
clean_text

' I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

# Question 4

In [231]:
text.find("Data Science")

44

In [232]:
text[44:(44+len("Data Science"))]

'Data Science'

# Question 5

In [233]:
from collections import Counter
count = Counter(words)
print(count)

Counter({'I': 3, 'in': 3, 'to': 3, 'me': 3, 'my': 2, 'the': 2, 'am': 1, 'very': 1, 'keen': 1, 'building': 1, 'up': 1, 'career': 1, 'Data': 1, 'Science,': 1, 'but': 1, 'not': 1, 'sure': 1, 'from': 1, 'where': 1, 'start.': 1, 'If': 1, 'search': 1, 'web': 1, 'it': 1, 'throws': 1, 'thousands': 1, 'of': 1, 'articles,': 1, 'few': 1, 'are': 1, 'relevant': 1, 'others': 1, 'make': 1, 'confused,': 1, 'again': 1, 'come': 1, 'around': 1, 'same': 1, 'page.': 1, 'Supervised': 1, 'has': 1, 'provided': 1, 'a': 1, 'good': 1, 'platform': 1, 'remove': 1, 'all': 1, 'such': 1, 'qualms': 1, 'which': 1, 'were': 1, 'wrangling': 1, 'mind': 1})

# Question 6

In [234]:
dict((key, value) for key, value in count.items() if value>1)

{'I': 3, 'in': 3, 'my': 2, 'to': 3, 'the': 2, 'me': 3}

# Question 7

In [235]:
text.replace("Supervised", "Unsupervised")

' I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind'

# Question 8

In [236]:
text.split(".")

[' I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

In [237]:
len(text.split("."))

3

# Question 9

In [238]:
[word for word in words if word.endswith("e")]

['sure',
 'where',
 'the',
 'me',
 'are',
 'make',
 'me',
 'come',
 'the',
 'same',
 'me',
 'remove',
 'were']

# Question 10

In [239]:
from collections import Counter
count1 = Counter(text)
count1['a']

22

# Dictionary

# Question 1

In [240]:
foods = {'apple':0.25, 'sugar':0.5, 'rice':2.5, 'milk':2.5,'egg':1}
foods

{'apple': 0.25, 'sugar': 0.5, 'rice': 2.5, 'milk': 2.5, 'egg': 1}

# Question 2

In [241]:
foods['atta']=1
foods

{'apple': 0.25, 'sugar': 0.5, 'rice': 2.5, 'milk': 2.5, 'egg': 1, 'atta': 1}

# Question 3

In [242]:
foods['rice']=1
foods

{'apple': 0.25, 'sugar': 0.5, 'rice': 1, 'milk': 2.5, 'egg': 1, 'atta': 1}

# Question 4

In [243]:
for items in foods.items():
    print(items)

('apple', 0.25)
('sugar', 0.5)
('rice', 1)
('milk', 2.5)
('egg', 1)
('atta', 1)

# Question 5

In [244]:
food_price = {'apple':220, 'sugar':43, 'rice':45, 'milk':30,'egg':60}
food_price

{'apple': 220, 'sugar': 43, 'rice': 45, 'milk': 30, 'egg': 60}

# Question 6

In [245]:
total_bill = 0
for key in foods:
    if key in food_price:
        x = food_price[key]*foods[key]
        total_bill += x
print(total_bill)

256.5

# List

In [246]:
AI_companies = ['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime']
AI_companies

['Amazon',
 'Facebook',
 'HiSilicon',
 'Google',
 'Apple',
 'Microsoft',
 'SenseTime']

# Question 1

In [247]:
AI_companies.sort()
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime']

# Question 2

In [248]:
AI_companies.extend(['Nvidia', 'OpenAI', 'Qualcomm', 'Reliance'])
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 'Reliance']

# Question 3

In [249]:
[company.lower() for company in AI_companies]

['amazon',
 'apple',
 'facebook',
 'google',
 'hisilicon',
 'microsoft',
 'sensetime',
 'nvidia',
 'openai',
 'qualcomm',
 'reliance']

# Question 4

In [250]:
AI_companies.pop()
AI_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm']

# Question 5

In [251]:
indeces = [2,3,5]
extract_companies = [AI_companies[i] for i in indeces]
extract_companies

['Facebook', 'Google', 'Microsoft']

# Tuple

# Question1

In [252]:
prices = (220, 43, 45, 30, 60)
prices

(220, 43, 45, 30, 60)

# Question 2

In [253]:
min(prices)

30

In [254]:
max(prices)

220

# Question 3

In [255]:
AI_comp_tuple = tuple(AI_companies)
AI_comp_tuple

('Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm')

# Question 4

In [256]:
add_two_tuple = AI_comp_tuple + prices
add_two_tuple

('Amazon',
 'Apple',
 'Facebook',
 'Google',
 'HiSilicon',
 'Microsoft',
 'SenseTime',
 'Nvidia',
 'OpenAI',
 'Qualcomm',
 220,
 43,
 45,
 30,
 60)

# Question 5

In [257]:
len(AI_comp_tuple) > len(prices)

True